<div class="container" style="margin: auto;">
  <div class="card-header">
    Aplikacija
  </div>
  <div class="card-body">
 
    <div class="row">
      <div class="col-sm-6">
        <div class="card" style="width: 30rem;">
          <div class="card-header">
            Slika 1
          </div>
          <div class="card-body">
            Slika 3
          </div>
          <form>
            <div class="form-group">
              <div class="card-footer">
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                <button class="btn btn-primary float-right" type="submit">Upload</button>
              </div>
            </div>
          </form>
        </div>
      </div>
 
      <div class="col-sm-6">
        <div class="card" style="width: 30rem;">
 
          <div class="card-header">
            Slika 2
          </div>
          <div class="card-body">
            Slika 3
          </div>
          <form>
            <div class="form-group">
              <div class="card-footer">
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                <button class="btn btn-primary float-right" type="submit">Upload</button>
              </div>
            </div>
          </form>
        </div>
      </div></div>
      &nbsp;
      <div class="row">
      <div class="col-sm-6">
        <div class="card" style="width: 30rem;">
          <div class="card-header">
            Slika 3
          </div>
          <div class="card-body">
            Slika 3
          </div>
          <form>
            <div class="form-group">
              <div class="card-footer">
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                <button class="btn btn-primary float-right" type="submit">Upload</button>
              </div>
            </div>
          </form>
        </div>
      </div>
 
      <div class="col-sm-6">
        <div class="card" style="width: 30rem;">
          <div class="card-header">
            Slika 3
          </div>
          <div class="card-body">
            Slika 3
          </div>
          <form>
            <div class="form-group">
              <div class="card-footer">
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                <button class="btn btn-primary float-right" type="submit">Upload</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>